.mission_Section {
  display: flex;
  padding: 1rem;
}

.horizontal_Line {
  background-color: black;
  opacity: 0.1;
  margin: 10px 0;
}

.mission_Table {
  margin-bottom: 30px;
}

.mission_Header {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 1.5fr;
  align-items: center; /* Add this line to vertically center align the header items */
}

.mission_Header h4,
.mission_Header span {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center; /* Add this line to horizontally center align the header text */
}

.mission_Item {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 1.5fr;
}

.mission_Item:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.1);
}

.mission_Item h4,
.mission_Item div,
.mission_Item p {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
}

.mission_Item div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission_Item button {
  padding: 5px 10px;
  height: max-content;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.mission_Item span {
  display: flex;
  align-items: center;
  height: 2rem;
  line-height: 0.8rem;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 0 5px;
}

.mission_Item p {
  padding-bottom: 20px;
}

#leaveMission {
  border-color: red;
  color: red;
}

@media (max-width: 600px) and (orientation: portrait) {
  .mission_Item span {
    height: 2rem;
    line-height: 0.8rem;
    font-size: 12px;
    font-weight: 600;
  }

  .mission_Item button {
    padding: 5px 10px;
    height: max-content;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
  }

  .mission_Item h4,
  .mission_Item div,
  .mission_Item p {
    padding: 3px;
    font-size: 0.8rem;
  }

  .mission_Header h4,
  .mission_Header span {
    padding: 3px;
    font-size: 0.8rem;
  }

  .mission_Header {
    grid-template-columns: 1fr 2fr 1fr 1fr;
  }

  .mission_Item {
    grid-template-columns: 1fr 2fr 1fr 1fr;
  }
}
