.body {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 1rem;
  border-bottom: solid 1px #e8e8e8;
}

.navbar {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}