.body {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem 10rem 1rem 1rem;
  align-items: center;
  height: 2rem;
  padding: 2rem;
  border-bottom: solid 1px #e8e8e8;
}

nav .div-logo {
  display: flex;
  justify-content: center;
  gap: 5rem;
  font-size: 1rem;
}

nav .logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
