@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;
}

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin-top: 4rem; /* Add margin to the top of the page content */
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 2rem;
  padding: 1rem;
  border-bottom: solid 1px #e8e8e8;
  background-color: #e1e0e0;
}

nav .div-logo {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
}

nav .logo {
  align-items: center;
  font-weight: bold;
  font-size: 1.4rem;
  height: 2rem;
}

nav .logo-img {
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  height: 2.5rem;
}

.navbar {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar .active {
  color: rgb(0, 157, 255);
  text-decoration: underline;
}

.navbar li {
  transition: 0.2s ease-in-out;
}

.navbar li:hover {
  transform: scale(1.05);
}

.navbar li:active {
  transform: scale(0.95);
}

@media (max-width: 600px) and (orientation: portrait) {
  nav {
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }

  nav .div-logo {
    gap: 0.5rem;
  }

  nav .logo {
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1rem;
    height: 2rem;
    width: 80px;
  }

  nav .logo-img {
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
    height: 2rem;
  }

  .navbar {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0.5rem;
    font-size: 0.8rem;
  }
}
